@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 10rem;
  background: url(./images/bg.png) no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5.5rem;
  color: #fff;
  line-height: 2;
}

#countdown {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  font-size: 4.5rem;

  color: #fff;
  border-radius: 0.5rem;
}
